.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group.side-by-side {
  flex-direction: row;
  gap: 10px;
}

.input-group input[type="text"],
.input-group input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.input-group input[type="checkbox"] {
  margin-right: 10px;
}
.input-group.checkbox-group {
  flex-direction: row;
  align-items: center;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-button {
  background-color: #ff4b5c;
  color: white;
  border: none;

  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: darkred;
}
